.app {
  height: 100%;
  width: 100%;
  font-family: "Raleway";
}
body {
  background-color: #9ccef4;
  margin:0px;
}

.header_nav {
   background-color: #759eda;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  height: 50px;
}

.header_input {
  background-color: #759eda;
  color: #fff;
  padding: 0.5em 1em;
  border: none;
  outline: none;
  padding-right: 400px;
}

.header_button {
  background-color: #5879c7;
  padding: 0.5em 4em;
  border: none;
  color: black;
  }


.app__main {
  background-color: #9ccef4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle {
  padding: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto ;
  

  
}
.firstclass {
  color: #fff;
}
.middle div {
  margin: 5px;
}



#root > div > div.middle > img{
  margin: 0 auto;
  width: 10%;
}

.football {display:flex;
  padding-left: 59em;
  font-size: 14px;
  padding-top: 15px;

}

#root > div > div.middle > h3 {
  color: white;
}

.imgN{
  width:15rem;
  height: 15rem;   
  padding-top:3rem;
} 
.imgsize{
  width:80px;
  height:6rem; 
}

.C{
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  gap:8rem;
  font-size: large;
}

.lower{
  gap: 5.5rem;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}
.img{
  display: flex;
  justify-content: center;
  gap: 5.5rem;
  padding-top: 2rem;
}
.time{
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  gap:8rem;
  font-size: large;
}


.C{
  padding-top: 15px;
  padding-bottom: 15px;
}

::placeholder {
  color: white;
  font-size: 18px;
}

.Lower_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

